<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapi2019gcpn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapi2019gcpn.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webapi2019gcpn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$webapi2019gcpn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="gcpnAgenciaConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlsanchezbruno.database.windows.net;Initial Catalog=gcpnAgencia;User ID=agencia;Password=&quot;6jQP;,#&gt;7fv7&amp;x#D&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\gcpnAgenciaConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlsanchezbruno.database.windows.net;Initial Catalog=gcpnAgencia;User ID=agencia;Password=&quot;6jQP;,#&gt;7fv7&amp;x#D&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApi.Models.ApplicationDbContext, WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="gcpnAgenciaConnectionStringCadastro" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlsanchezbruno.database.windows.net;Initial Catalog=gcpnAgencia;Provider=SQLOLEDB;User ID=agencia;Password=&quot;6jQP;,#&gt;7fv7&amp;x#D&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\gcpnAgenciaConnectionStringCadastro_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlsanchezbruno.database.windows.net;Initial Catalog=gcpnAgencia;Provider=SQLOLEDB;User ID=agencia;Password=&quot;6jQP;,#&gt;7fv7&amp;x#D&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gcpnAgenciaConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gcpnAgenciaConnectionStringCadastro-Web.config Connection String" />
  </ItemGroup>
</Project>